################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AAP_lab3/v17/Browse.VC.opendb
